<% @page_title = 'New license' %>

<% form_for(@license) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </p>
  <p>
    <%= f.label :image_src %><br />
    <%= f.text_field :image_src %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>
