<% if logged_in? and !@book.owner?(current_user) %>
<% 
current_notification = current_user.notifications.find_by_book_id(@book.id)
remote_form_for(Notification.new, :url => {:controller => :notifications, :action => :toggle} ) do |f|
%>
<%= hidden_field_tag('notification[book_id]',	@book.id) %>
<%= check_box_tag('notifiy', '1', 
		!current_notification.nil?, 
		{:onchange => "this.form.submit();"}) %> Notify me when this book has been updated by the author
<% end -%>
<% end -%>


<div class='commentable_content'>
<% if logged_in? %>
<%
c = Comment.new
form_for(c, :url => polymorphic_path([commentable, c]) ) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :content, "Comment" %><br />
    <%= f.text_area :content, :size => TextFieldSize %>
  </p>
  <p>
    <%= f.submit 'Create Comment' %>
  </p>
<% end %>
<% else %>
<em>Please sign in or create an account to post comments.</em>
<% end %>

<table class='listing'>
<% commentable.comments.each do |comment| %>
	<%= render(:partial => 'comments/display_comment', :locals => {:comment => comment } ) %>
<% end %>
</table>
</div>

<p align='right'>
	<%= license_button(commentable.license, :img) %>
</p>
