<% 
if logged_in?
current_notification = current_user.notifications.find_by_book_id(@book.id)
remote_form_for(Notification.new, :url => {:controller => :notifications, :action => :toggle} ) do |f|
%>
<%= hidden_field_tag('notification[book_id]',	@book.id) %>
<%= check_box_tag('notifiy', '1', 
		!current_notification.nil?, 
		{:onchange => "this.form.submit();"}) %> Notify me when this book has been updated by the author
<% end -%>
<p><%= link_to( image_tag('rss_xml.gif', :size => '36x14', :alt => 'rss', :border => 0), book_path(@book, :format => :rss)) %></p>
<% end -%>

<div class='commentable_content'>
<% if logged_in? -%>
<%
c = Comment.new
form_for(c, :url => polymorphic_path([commentable, c]) ) do |f| -%>
  <%= f.error_messages -%>
  <p>
    <%= f.label :content, "New Comment" %><br />
    <%= f.text_area :content, :size => TextFieldSize %>
  </p>
  <p>
    <%= f.submit 'Create Comment' %>
  </p>
<% end %>
<% else %>
<em>Please sign in to post comments or vote.</em>
<% end %>

<h3>Comments</h3>
<table class='listing'>
<% commentable.comments.each do |comment| %>
	<%= render(:partial => 'comments/display_comment', :locals => {:comment => comment } ) %>
<% end -%>
</table>
</div>

<p align='right'>
	<%= license_button(@book.license, :img) %>
</p>
