<tr class='row<%= cycle(1, 2) %>' valign='top'>
  <td><%= display_vote(comment) %></td>
  <td><%=h comment.content %></td>
	<% if comment.owner?(current_user) -%>
  <td><%= link_to 'Edit', edit_comment_path(comment) %></td>
  <td><%= link_to 'Destroy', comment, :confirm => 'Are you sure?', :method => :delete %></td>
	<% end %>
</tr>
