<tr valign='top'>
  <td class='comment1' colspan='3'>
	<a name='comment_<%= comment.id %>'></a>
	<% if comment.user.image_thumb_src %><%= link_to(image_tag(comment.user.image_thumb_src, :border => 0, :class => 'comment_profile_img'), comment.user) %><% end %>
	<strong><%= link_to( comment.user.name, comment.user) %></strong> on <%=h comment.created_at %>
	</td>
</tr>
<tr valign='top'>
  <td><%= display_votes(comment) %></td>
  <td class='comment2'><%= comment.content %></td>
</tr>
