<% @page_title = "Listing Comments by #{@user.full_name}" %>

<table class='listing'>
  <tr valign='top'>
    <th>Commenting On</th>
    <th>Vote</th>
    <th>Comment</th>
    <% if current_user == @user -%><th>Owner</th><% end %>
  </tr>

<% @user.comments.each do |comment| %>
  <tr class='row<%= cycle(1, 2) %>' valign='top'>
    <td><%= link_to(comment.commentable_type, comment.commentable) %></td>
    <td><%=h comment.vote %></td>
    <td><%=h truncate comment.content %></td>
		<% if current_user == @user -%>
    <td><%= link_to 'Show', comment %></td>
    <td><%= link_to 'Edit', edit_comment_path(comment) %></td>
    <td><%= link_to 'Destroy', comment, :confirm => 'Are you sure?', :method => :delete %></td>
		<% end %>
	</tr>
<% end %>
</table>
