<% @page_title = 'Comment' %>

<p>
  <b>Author:</b>
  <%=h @comment.owner.name %>
</p>

<p>
  <b>Type:</b>
  <%= link_to(@comment.commentable_type, @comment.commentable) %>
</p>

<p>
  <b>Vote:</b>
  <%=h @comment.vote %>
</p>

<p>
  <b>Content:</b>
  <%= @comment.content %>
</p>

<% if @comment.owner?(@user) -%>  
<%= link_to 'Edit', edit_comment_path(@comment) %> 
<% end %>
