<% @page_title = 'Comment' %>

<p>
  <b>User:</b>
  <%=h @comment.full_name %>
</p>

<p>
  <b>Commentable type:</b>
  <%=h @comment.commentable_type %>
</p>

<p>
  <b>Commentable:</b>
  <%=h @comment.commentable_id %>
</p>

<p>
  <b>Vote:</b>
  <%=h @comment.vote %>
</p>

<p>
  <b>Content:</b>
  <%=h @comment.content %>
</p>


<%= link_to 'Edit', edit_comment_path(@comment) %> 
