<% @page_title = "New sub-chapter for chapter: #{@chapter.full_title}" %>

<%= render(:partial => 'sub_chapters/owner_nav' ) %>

<% form_for([@chapter, @sub_chapter]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :content %><br />
    <%= f.text_area :content, :size => TextFieldSize %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>
