<% @page_title = 'Listing Authors and Contributors' %>

<table class='listing'>
  <tr>
    <th>Name</th>
    <% if current_user_is_admin? -%><th>Email</th><% end -%>
    <th>Statement</th>
    <th>Books</th>
    <th>Comments</th>
    <th>Since</th>
    <th>Admin?</th>
    <% if current_user_is_admin? -%><th colspan='3'>Admin</th><% end %>
  </tr>

<% @users.each do |user| %>
  <tr class='row<%= cycle(1, 2) %>' valign='top'>
    <td><%= user.image_thumb_src ? image_tag(user.image_thumb_src) : '' %><%=h user.name %></td>
    <% if current_user_is_admin? -%><td><%=h user.email %></td><% end -%>
    <td><%= display_user_content( user.description) %></td>
    <td><%= link_to( "Books", user_books_path( user) ) %> (<%= user.books.size %>)</td>
    <td><%= link_to( "Comments", user_comments_path( user) ) %> (<%= user.comments.size %>)</td>
    <td><%= user.created_at.strftime("%b %Y") %></td>
    <th><%= display_is_admin(user) %></th>
		<% if current_user_is_admin? -%>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %></td>
		<% end -%>
  </tr>
<% end %>
</table>
