<% @page_title = "Author/Contributor: #{@user.full_name}" %>

<p>
  <%= image_tag(@user.image, :class => 'profile_image') %>
  
  <%=h @user.full_name %>
</p>

<p>
  <b>Books:</b>
  <%= link_to("Books by #{@user.full_name}", user_books_path(@user)) %>
</p>

<p>
  <b>Comments:</b>
  <%= link_to("Comments by #{@user.full_name}", user_comments_path(@user)) %>
</p>

<% if current_user_is_admin? %>
<p>
  <b>Email:</b>
  <%= mail_to @user.email %>
</p>
<% end %>
<p>
  <b>Statement:</b>
  <%= @user.description %>
</p>

<% if @user.is_admin? %>
<p>
  <b>Admin?:</b>
  <%= display_is_admin(@user) %>
</p>
<% end %>

<br clear='all' />
<% if current_user_is_admin? %>
Admin: <%= link_to 'Edit', edit_user_path(@user) %>
<% end %>
