<p>
  <b>Name:</b>
  <%=h @user.full_name %>
</p>

<p>
  <b>Login:</b>
  <%=h @user.login %>
</p>

<p>
  <b>Email:</b>
  <%=h @user.email %>
</p>

<p>
  <b>Image:</b>
  <%=h @user.image %>
</p>

<p>
  <b>Description:</b>
  <%=h @user.description %>
</p>

<p>
  <b>Is admin:</b>
  <%=h @user.is_admin %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>