<% @page_title = "Author/Contributor: #{@user.full_name}" %>

<p>
  <b>Name:</b>
  <%=h @user.full_name %>
</p>

<p>
  <b>Books:</b>
  <%= link_to("Books by #{@user.full_name}", user_books_path(@user)) %>
</p>

<p>
  <b>Comments:</b>
  <%= link_to("Comments by #{@user.full_name}", user_comments_path(@user)) %>
</p>

<p>
  <b>Email:</b>
  <%=h @user.email %>
</p>

<p>
  <b>Image:</b>
  <%=h @user.image %>
</p>

<p>
  <b>Statement:</b>
  <%=h @user.description %>
</p>

<% if @user.is_admin? %>
<p>
  <b>Admin?:</b>
  <%= display_is_admin(@user) %>
</p>
<% end %>

<%= link_to 'Edit', edit_user_path(@user) %>