<div class='table_of_contents'>
<h2><%= link_to(@book.title, @book) %></h2>

	
	<h2>Table of Contents</h2>
<table class='listing' width='100%'>
<% 
chapter_ix = 0 
@book.chapters.each do |chapter| -%>
  <tr class='row<%= cycle(1, 2) %>' valign='top'>
    <td><%= chapter_ix += 1 %></td>
    <td><%= link_to(chapter.title, book_chapter_path(@book, chapter)) %><br />
			(<span align='right'><%= chapter.comments.size %> Comments</span>)
			<% 
			unless chapter.sub_chapters.empty?
			sub_chapter_ix = 0 
			%><table><%
			chapter.sub_chapters.each do |sub_chapter| %>
				  <tr class='row<%= cycle(1, 2) %>' valign='top'>
				    <td><%= chapter_ix %>.<%= sub_chapter_ix += 1 %></td>
				    <td><%= link_to(sub_chapter.title, chapter_sub_chapter_path(chapter, sub_chapter)) %><br />
							(<span align='right'><%= sub_chapter.comments.size %> Comments</span>)</td>
				  </tr>
					<% end
					%></table><%
					end %>

</td>
  </tr>
<% end %>
</table>
</div>
