<% @page_title = h @book.title %>

<div class='chapter_content'>
<%= render(:partial => 'books/table_of_contents', :locals => {:book => @book } ) %>

<h2>By <%=h @book.user.full_name %></h2>

<p>
  <b>Reward:</b>
  <%=h @book.reward %> <%=h @book.terms %>
</p>
<br clear='all'>

</div>

<% if @book.owner?(current_user) -%>
<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'New Chapter', new_book_chapter_path(@book) %>
<% end -%>
<%= link_to "Who's Watching the Action?", book_notifications_path(@book) %>

<%= render(:partial => 'comments/comment_form', :locals => {:commentable => @book } ) %>
