<% @page_title = @book.title %>

<%= render(:partial => 'books/owner_nav' ) %>

<div class='chapter_content'>
<%= render(:partial => 'books/table_of_contents' ) %>

<h2>By <%=h @book.user.name %></h2>

<p>
  <b>Reward:</b>
  <%=h @book.reward %> <%= @book.terms %>
</p>
<br clear='all'>

</div>

<p><%= link_to "Who's Watching the Action?", book_notifications_path(@book) %></p>
<%= render(:partial => 'comments/comment_form', :locals => {:commentable => @book } ) %>
