<% @page_title = @book.title %>
<h2>By <%=h @book.user.name %></h2>

<%= render(:partial => 'books/owner_nav' ) %>

<div class='read_chapter_content'>
<p>
  <b>Reward:</b>
  <%=h @book.reward %> <%= display_user_content(@book.terms) %>
</p>
<br clear='all'>

</div>

<p><%= link_to "Who's Watching the Action?", book_notifications_path(@book) %></p>
<%= render(:partial => 'comments/comment_form', :locals => {:commentable => @book } ) %>
