<% @page_title = "Editing #{@chapter.full_title}" %>

<%= render(:partial => 'chapters/owner_nav' ) %>

<% form_for(@chapter) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :content %><br />
    <%= f.text_area :content, :size => TextFieldSize %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<% unless @chapter.sub_chapters.empty? %>
<br /><br />
<h2>Sub-Chapters</h2>
<table class='listing'>
  <tr valign='top'>
		<th></th>
		<th>Title</th>
	<th>Comments</th>
<th colspan='3'>Admin</th>
  </tr>
<% 
@chapter.sub_chapters.each do |sub_chapter| %>
  <tr class='row<%= cycle(1, 2) %>' valign='top'>
   <td><%= form_tag( position_chapter_sub_chapter_path(@chapter, sub_chapter), {:id => "chapter_position#{sub_chapter.position}"} ) %>
<%= select_tag('move_to', chapter_position_options(@chapter.sub_chapters.size, sub_chapter.position), 
	{ :onchange => "document.forms['chapter_position#{sub_chapter.position}'].submit();"} 
) %>
</form>    
</td>
    <td><%= link_to(sub_chapter.title, read_sub_chapter_path(@book, @chapter.position, sub_chapter.position)) %></td>
    <td align='right'><%= sub_chapter.comments.size %></td>
    <td><%= link_to 'Edit', edit_chapter_sub_chapter_path(@chapter, sub_chapter) %></td>
    <td><%= link_to 'Destroy', chapter_sub_chapter_path(@chapter, sub_chapter), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<% end %>
