<% @page_title = 'Listing chapters' %>

<table>
  <tr>
    <th>Parent</th>
    <th>Parent type</th>
    <th>Type</th>
    <th>Title</th>
    <th>Position</th>
    <th>Content</th>
  </tr>

<% @chapters.each do |chapter| %>
  <tr>
    <td><%=h chapter.parent_id %></td>
    <td><%=h chapter.parent_type %></td>
    <td><%=h chapter.type %></td>
    <td><%=h chapter.title %></td>
    <td><%=h chapter.position %></td>
    <td><%=h chapter.content %></td>
    <td><%= link_to 'Show', chapter %></td>
    <td><%= link_to 'Edit', edit_chapter_path(chapter) %></td>
    <td><%= link_to 'Destroy', chapter, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New chapter', new_chapter_path %>