<% @page_title = "All Chapters by #{current_user.full_name}" %>

<table class='listing'>

<% @books.each do |book| %>
  <tr class='row<%= cycle(1, 2) %>' valign='top'>
    <td rowspan='<%= book.chapters.size.to_i() +1 %>'><%= link_to(book.title, book) %></td>
    <td colspan='3'><br /></td>
  </tr>

<% book.chapters.each do |chapter| %>
<tr class='row<%= cycle(1, 2) %>' valign='top'>
	<td><%= link_to(chapter.title, chapter) %></td>
	<td><%= link_to 'Edit', edit_chapter_path(chapter) %></td>
	<td><%= link_to 'Destroy', chapter, :confirm => 'Are you sure?', :method => :delete %></td>
</tr>
<% end %>
<% end %>
</table>
