<% @page_title = 'Listing Categories' %>

<table class='listing'>
  <tr valign='top'>
    <th>Name</th>
    <th colspan='3'>Admin</th>
  </tr>

<% @categories.each do |category| %>
  <tr class='row<%= cycle(1, 2) %>' valign='top'>
    <td><%=h category.name %></td>
		<% if current_user.is_admin? -%>
    <td><%= link_to 'Show', category %></td>
    <td><%= link_to 'Edit', edit_category_path(category) %></td>
    <td><%= link_to 'Destroy', category, :confirm => 'Are you sure?', :method => :delete %></td>
<% end -%>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New category', new_category_path %>