<% @page_title = 'Listing Categories' %>

<table class='listing'>
  <tr valign='top'>
    <th>Category</th>
    <th>Books</th>
    <% if current_user_is_admin? -%><th colspan='3'>Admin</th><% end %>
  </tr>

<% @categories.each do |category| %>
  <tr class='row<%= cycle(1, 2) %>' valign='top'>
    <td><%= link_to(category.name, category_books_path(category)) %></td>
    <td align='right'><%= category.books.size %></td>
		<% if current_user_is_admin? -%>
    <td><%= link_to 'Show', category %></td>
    <td><%= link_to 'Edit', edit_category_path(category) %></td>
    <td><%= link_to 'Destroy', category, :confirm => 'Are you sure?', :method => :delete %></td>
<% end -%>
  </tr>
<% end %>
</table>
