<li><%= link_to('Categories', :controller => :categories) %></li>
<% if controller_name == 'categories' and current_user.is_admin? -%>
<ul class='main_nav2'>
	<li><%= link_to('List', :action => :index) %></li>
	<li><%= link_to('New', :action => :new) %></li>
</ul><% end -%>
<li><%= link_to('Books', :controller => :books) %></li>
<li><%= link_to('Licenses', :controller => :licenses) %></li>
<% if controller_name == 'licenses' and current_user.is_admin? -%>
<ul class='main_nav2'>
	<li><%= link_to('List', :action => :index) %></li>
	<li><%= link_to('New', :action => :new) %></li>
</ul><% end -%>
