<li><%= link_to('Books', :controller => :books) %></li>
<% if controller_name == 'books' -%>
<ul class='main_nav2'>
	<% if logged_in? -%><li><%= link_to('My Books', user_books_path(current_user)) %></li><% end -%>
	<li><%= link_to('All Books', books_path) %></li>
	<li><%= link_to('Start a Book', :action => :new) %></li>
</ul><% end -%>

<% if logged_in? -%>
<li><%= link_to('My Chapters', :controller => :chapters) %></li>

<li><%= link_to('My Comments', :controller => :comments) %></li>

<li><%= link_to('My Notifications', :controller => :notifications) %></li>
<% end -%>

<li><%= link_to('Categories', :controller => :categories) %></li>
<% if controller_name == 'categories' and current_user_is_admin? -%>
<ul class='main_nav2'>
	<li><%= link_to('List', :action => :index) %></li>
	<li><%= link_to('New', :action => :new) %></li>
</ul><% end -%>

<li><%= link_to('Licenses', :controller => :licenses) %></li>
<% if controller_name == 'licenses' and current_user_is_admin? -%>
<ul class='main_nav2'>
	<li><%= link_to('List', :action => :index) %></li>
	<li><%= link_to('New', :action => :new) %></li>
</ul><% end -%>

<li><%= link_to('Authors and Contributors', :controller => :users) %></li>
